/* CSS BY IZUMI */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

}

/* GLOBAL STYLES (mobile first/small) */

html {
    background-color: black;
    color: var(--dark-charcoal);
}

header,
body,
footer {
    font-family: 'Playfair Display';
    max-width: 450px;
    margin: 0 auto;
    background-color: var(--linen);
}

header, footer {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    padding: 20px;
}

header p {
    font-style: italic;
    font-weight: 600;
}

header img {
    width: 200px;
    padding: 10px;
}

nav {
    background-color: var(--champagne-gold);
    margin: 25px 0px;
}

nav ul {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-size: 1.5em;
    font-weight: 800;
}

nav a:hover, nav a:focus {
    color: var(--olive-green);
}


h2, h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--midnight-blue);
    padding: 30px 0px 5px 30px;
}

body p, li {
    font-size: .82em;
    line-height: 1.45em;
    padding: 2px 30px 5px 30px;
}

hr.yellowline {
    border-top: solid 2px var(--champagne-gold);
    color: var(--champagne-gold);
    margin: 20px;
}

h3 {
    padding-top: 10px;
}

section {
    background-color: var(--olive-green);
    color: var(--linen);
    line-height: 1.25em;
    border-radius: 10px;
    margin: 10px 25px;
    padding: 15px;
}

section h4 {
    font-size: 1.45em;
    font-weight: 800;
    padding: 12px 0px 10px;
}

section p {
    padding: 0;
    padding-right: 20px;
    font-weight: 500;
}

section li {
    list-style-type: disc;
    margin-left: 15px;
    padding: 0px 10px 0px ;
}

article {
    display: grid;
    box-shadow: 0px 2px 5px var(--dark-charcoal);
    width: 90%;
    border-radius: 10px;
    margin: 20px auto;
}

article img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

article p {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    padding: 10px;
}

div + a {
    display: block;
    background-color: var(--olive-green);
    color: var(--linen);
    margin: 10px 25px;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
}

article + a:hover, article + a:focus {
    background-color: var(--champagne-gold);
}


footer {
    padding: 70px;
    color: var(--soft-white);
}

footer li {
    line-height: 1.0em;
}

footer li:last-child {
    padding-bottom: 50px;
}

footer a {
    text-decoration: none;
    color: var(--champagne-gold);
    font-size: 0.9em;
    font-weight: 800;
}

/* MEDIA QUERY (medium) */

@media screen and (min-width: 600px) {

    header,
    body,
    footer {
        max-width: 600px;
}

    h2, h3 {
        font-size: 1.8em;
    }

    body p, section li {
        font-size: .9em;
    }

    .offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin: 20px;
       
    }

    .offerings section {
        margin: 0;
        box-shadow: 2px 2px 10px var(--midnight-blue);
    }

    .offerings h4 {
        font-size: 1.5em;
        line-height: 1.5em;
    }


    .basket {
        grid-column: 1/3;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 20px;
        padding: 0px;
    }

    .gallery article {
        margin: 0px;
        width: 100%;
    }


}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px) {
     header,
    body,
    footer {
        max-width: 900px;
}

    body p, section li {
        font-size: 1em;
    }

    h2, h3 {
    font-size: 2.1em;
    font-weight: 500;
    color: var(--midnight-blue);
    padding: 30px 0px 5px 30px;
}

    .offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin: 20px;
       
    }

    .offerings section {
        margin: 0;
        box-shadow: 2px 2px 10px var(--midnight-blue);
    }

    .offerings h4 {
        font-size: 1.8em;
        line-height: 1.5em;
        padding-top: 0px;
    }


    .basket {
        grid-column: 1/3;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: 20px;
        padding: 0px;
    }

    .gallery article {
        margin: 0px;
        width: 100%;
    }

}

/* MEDIA QUERY (xl) */

@media screen and (min-width: 1200px) {
    header,
    body,
    footer {
        max-width: 1200px;
}

    body p, section li {
        font-size: 1em;
    }

    main {
        margin: auto 90px;
    }
    

    h2, h3 {
    font-size: 2.1em;
    font-weight: 500;
    color: var(--midnight-blue);
    padding: 10px 0px 5px 30px;
}

    .offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 20px;
       
    }

    .offerings section {
        margin: 0;
        box-shadow: 2px 2px 10px var(--midnight-blue);
    }

    .offerings h4 {
        font-size: 1.0em;
        line-height: 1.5em;
        padding-top: 0px;
    }


    .basket {
        grid-column: 1/3;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        padding: 0px;
    }

    .gallery article {
        margin: 0px;
        width: 100%;
    }
}